version: '3.8'
services:
  app-server:
    image: vue2-live-chat-server
    build:
      target: deploy-server
    ports:
      - 3000:3000
      - 3001:3001
  app-client:
    image: vue2-live-chat-client
    build:
      target: deploy-client
    ports:
      - 8080:80
