services:
  app-server-redis:
    image: redis:8.4-alpine
    ports:
      - '6379:6379'
  app-server-load-balancer:
    image: vue-live-chat-server-load-balancer
    restart: always
    build:
      target: deploy-server-load-balancer
    ports:
      - '3000:3000'
      - '4000:4000'
    links:
      - app-server
  app-server:
    image: vue-live-chat-server
    build:
      target: deploy-server
    ports:
      - '3001-3002:3000'
      - '4001-4002:4000'
    depends_on:
      - app-server-redis
    environment:
      - APP_REDIS=1
    tty: true
  app-client:
    image: vue-live-chat-client
    build:
      target: deploy-client
    ports:
      - 5173:80
